* {
  margin: 0px;
  padding: 0px;
}
body {
  max-width: 100%;
  height: 100%;
  background-image: url(501760.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*-- Font --*/
    font-family: helvetica;
}
/*-- Header --*/
.header{
  grid-area: header;
  width:;
  height: 80px;
background-color: white;
  font-family: none ;
}
/*-- Header content --*/
#header{

max-width: 140px;
color:black;
padding-top:10px;
padding-left: 10px;
text-align: center;
}
#header::before{
content: '';
display: block;
background-color: black;
padding-top:3px;
}
#header::after{
  content: '';
  display: block;
  background-color: black;
  padding-top:3px;
}
/*-- nav --*/
.nav{
  grid-area: nav;
  background-color: white;
    margin-bottom: 8%;
    height: 80px;
}
/*-- nav content --*/
nav{
    text-align: center;
    color: black;
}
nav ul{
  list-style-type: none;
  font-size: 20px;
  overflow: hidden;
  padding: 10px 40px 20px 10px;
}
nav li{
  float: left;
}
nav li a{
  display: inline;
  text-align: center;
  color: black;
  padding: 25px;
  position: relative;
  top: 15px;
  text-decoration: none;
}
nav  li a:hover:not(.nav-active) {
 color:rgb(19, 129, 155);
}
.nav-active{
  color: rgb(19, 129, 155);
}

/*-- Content --*/
.content{
  max-width: 100%;
  height: 100px;
  grid-area: content;
  z-index: 3;
    background-color: rgba(19, 129, 155, 0.6);
    padding: 40px 50px;
    color: white;
}

/*-- content content?--*/
.image{
  grid-area: image;
  height: 90%;
  max-width: 100%;
  padding: 2% 7% 2% 7%;
  z-index: 4;
  margin-top: 8%;
  overflow: hidden;
  background-color: rgba(255, 255, 255,0.6);
  text-align: center;
}
/*-- image content --*/
#summary  {
  overflow: hidden;
float: left;
display: inline-block;
width: 80%;
height: 20%;
margin: 0% 10% 5% 10%;
background-color:rgba(255, 255, 255,1);
border: solid rgba(255, 255, 255,1) 2px;
border-radius: 3px;
color: rgb(19, 129, 155);
text-align: center;
}
 .image ul a:hover{
  background-color:  rgba(19, 129, 155, 1);
}
.image img{
 width: 100%;
 height: 50%;
 position: relative;
 bottom: 25px;
}
.image h4{
  position: relative;
  bottom: 10px;
}
/*-- Footer --*/
.footer{
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.5) ;
  text-align: center;
  padding: 20px 20px;
  margin-top: 5%;
  height: 100px;
  color:rgba(19, 129, 155, 0.5);
}
/*-- Footer content --*/
.footer a{
color:rgba(19, 129, 155, 0.5);
text-decoration: none;
}
.image a:hover{
  background-color: rgba(19, 129, 155, 1);
}
/*-- Grid container's --*/
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'content'
    'image'
    'footer';

}
@media screen and (min-width: 620px){
  .grid-container{
    grid-template-areas:
    'header  nav     nav     nav     nav     nav'
    'content content content content content content'
    'image   image   image   image   image   image'
    'footer  footer  footer  footer  footer  footer';
  }
  .image{
    overflow: hidden;
    padding-left: auto;
    height: 60%;
  }
  #summary{
    display: block;
    float: left;
    margin: 5% 20px;

    width: 25%;
    height: 15%;
  }
  .image img{
    width:100%;
    height: 60%;
    position: relative;
    bottom: 10px;
  }
}
@media screen and (min-width: 1000px){
  .grid-container{
    grid-template-areas:
    'header  nav     nav      nav'
    'content content image  image'
    'footer  footer  footer   footer';
  }
  .content{
    max-width: 100%;
  }
  .image{
    width: 93%;
    height: 100%;
    padding: 0% 0% 1% 7%;
    margin-top: 0%;

  }
  #summary{
    overflow:hidden;
    display: block;
    width: 25%;
    height: 15%;
  }
}
